[Desktop Entry]
Version=1.0
Type=Application
Name=CarrierVision
Comment=CarrierVision Application
Exec=CarrierVision.sh
Icon=CarrierVision
Terminal=false
StartupNotify=true
Categories=Utility;Application;
